

<nav class="navbar bg-success" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://github.com/AggregateNinja" target="_blank">HL7 Inspector Tool</a>
  </div>
</nav>
<div class="container mx-auto mt-3 mb-3">
  <h3 class="text-center mb-3">Use this tool for easily viewing the contents of an HL7 message</h3>

  <section #pdfSource class="p-4">
  <div class="row g-2 align-items-center">
    <div class="col-12 col-md-8">
      <div class="input-group">
        <textarea [formControl]="hl7In" name="hl7In" id="hl7In" class="form-control" placeholder="Enter HL7 Message"></textarea>        
      </div>
    </div>

    <div class="col-12 col-md-4">
      <button (click)="inspectHL7()"
              type="button"
              class="btn btn-success w-100">
        Inspect HL7
      </button>
    </div>
  </div>

  <div class="row justify-content-md-center mt-3">    
    <h5>HL7 Message Details</h5>
    <div class="col">
      <!-- <pre class="border rounded p-3 bg-light">{{ hl7Out }}</pre> -->
       @if (parsedMessage) {
        <div ngbAccordion>
          @for (
            segment of parsedMessage.segments;
            track segment.sequence;
            let i = $index
          ) {
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ i + 1 }}. {{ segment.id }}
                </button>
              </h2>

              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div class="mb-3">
                      <strong>Raw Segment</strong>
                      <pre>{{ segment.rawValue }}</pre>
                    </div>

                    @for (field of segment.fields; track field.position) {
                      <div class="row border-top py-2">
                        <div class="col-2 fw-bold">
                          {{ segment.id }}-{{ field.position }}
                        </div>

                        <div class="col-3 text-muted">
                          {{ getFieldName(segment.id, field.position) }}
                        </div>

                        <div class="col">
                          {{ field.rawValue }}
                        </div>
                      </div>

                       @if (field.repetitions.length > 1) {
                        @for (
                          repetition of field.repetitions;
                          track $index;
                          let repetitionIndex = $index
                        ) {
                          <div class="ms-4 mt-2">
                            <strong>
                              Repetition {{ repetitionIndex + 1 }}
                            </strong>

                            @for (
                              component of repetition.components;
                              track $index;
                              let componentIndex = $index
                            ) {
                              <div class="row">
                                <div class="col-2">
                                  {{ segment.id }}-{{ field.position }}.{{ componentIndex + 1 }}
                                </div>

                                <div class="col">
                                  {{ component.rawValue }}
                                </div>
                              </div>
                            }
                          </div>
                        }
                      }


                    }
                  </ng-template>
                </div>
              </div>
            </div>
          }
        </div>
      }
        
    </div>
  </div>
  </section>
</div>
<footer class="footer mt-auto text-center py-3 border-top bg-light bg-gradient">
  <span class="text-muted">Powered by <a href="https://github.com/AggregateNinja" target="_blank">Edward Bossmeyer</a>  &copy; {{currYear}} </span>
</footer>
